<div class="content box">
    <div class="columns has-text-left">
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-4 has-text-white mr-2">
                        {{name}}
                        <span class="iconify is-pulled-right" data-icon="mdi:location" width="75" height="75"></span>
                        </span><br> <br>
                    </div>
                    <div class="text is-size-6 as-text-white">
                        Lat: {{latitude}} <br>
                        Lng: {{longitude}} <br> <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Weather
                        <span class="iconify is-pulled-right"
                            data-icon="" width="75"
                            height="75"></span>
                    </div>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Temp
                        <span class="iconify is-pulled-right"
                            data-icon="" width="75"
                            height="75"></span>
                    </div>
                    {{latestReading.temperature}} C <br>
                    {{convertTemperatureCToF latestReading.temperature}} <br> <br>
                    {{getMaxValue readings 'pressure'}}

 F
                    <br>
                    <span class="iconify is-pulled-right mr-5"
                        data-icon="" width="50"
                        height="50"></span>
                    Max: 
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Wind
                        <span class="iconify is-pulled-right" data-icon="ph:wind-bold" width="75" height="75"></span>
                        <br>
                    </div>
                    
                    <span class="iconify is-pulled-right mr-3"
                        data-icon="" width="50" height="50"></span>
                    Feels like<br>
                    
                    <br>
                    Max:  <br>
                    Min: <br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Pressure
                        <span class="iconify is-pulled-right" data-icon="arcticons:fmiweather" width="75"
                            height="75"></span>
                    </div>
                    

                    Max:  <br>
                    <span class="iconify is-pulled-right mr-3"
                        data-icon="" width="50" height="50"></span>
                    Min: 

                </div>
            </div>
        </div>
    </div>
</div>