<div class="content box">
    <div class="columns has-text-left">
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-4 has-text-white mr-2">
                        {{name}}
                        <span class="iconify is-pulled-right" data-icon="mdi:location" width="75" height="75"></span>
                        </span><br> <br>
                    </div>
                    <div class="text is-size-6 as-text-white">
                        Lat: {{latitude}} <br>
                        Lng: {{longitude}} <br> <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Weather
                        <span class="iconify is-pulled-right"
                            data-icon="{{weatherCodeToIcon latestReading.code}}" width="75"
                            height="75"></span>
                    </div>
                    <br>
                    {{weatherCodeToString latestReading.code}}
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Temp
                        <span class="iconify is-pulled-right"
                            data-icon="{{temperatureIcons latestReading.temperature}}" width="75"
                            height="75"></span>
                    </div>
                    {{latestReading.temperature}} C <br>
                    {{convertTemperatureCToF latestReading.temperature}} F
                    <br>
                    <span class="iconify is-pulled-right mr-5"
                        data-icon="{{getTrends readings 'temperature'}}" width="50"
                        height="50"></span>
                    Max: {{getMaxValue readings 'temperature'}} <br>
                    Min: {{getMinValue readings 'temperature'}}<br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Wind
                        <span class="iconify is-pulled-right" data-icon="ph:wind-bold" width="75" height="75"></span>
                        <br>
                    </div>
                    {{convertWindSpeedKMToBeaufort latestReading.windSpeed}} bft <br>
                    {{convertDegreesToCompassDirection latestReading.windDirection}} <br>
                    <span class="iconify is-pulled-right mr-3"
                        data-icon="{{getTrends readings 'windSpeed'}}" width="50" height="50"></span>
                    Feels like<br>
                    {{convertToWindChill latestReading.temperature latestReading.windSpeed}}
                    <br>
                    Max: {{getMaxValue readings 'windSpeed'}} <br>
                    Min: {{getMinValue readings 'windSpeed'}}<br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Pressure
                        <span class="iconify is-pulled-right" data-icon="arcticons:fmiweather" width="75"
                            height="75"></span>
                    </div>
                    {{latestReading.pressure}} hpa <br>

                    Max: {{getMaxValue readings 'pressure'}} <br>
                    <span class="iconify is-pulled-right mr-3"
                        data-icon="{{getTrends readings 'pressure'}}" width="50" height="50"></span>
                    Min: {{getMinValue readings 'pressure'}}<br>

                </div>
            </div>
        </div>
    </div>
</div>