<div class="content box">
    <div class="columns has-text-left">
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-4 has-text-white mr-2">
                        {{station.name}}
                        <span class="iconify is-pulled-right" data-icon="mdi:location" 
                        width="75" height="75"></span>
                        </span><br> <br>
                    </div>
                        <div class="text is-size-6 as-text-white">
                            Lat: {{station.latitude}} <br>
                            Lng: {{station.longitude}} <br> <br>
                        </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Weather
                        <span class="iconify is-pulled-right" data-icon="{{conversions.weatherCodeToIcon latestReading.code}}" 
                    width="75" height="75"></span>
                    </div>
                    <br>
                    {{conversions.weatherCodeToString latestReading.code}}
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Temp
                        <span class="iconify is-pulled-right" 
                        data-icon="{{conversions.temperatureIcons latestReading.temperature}}" 
                        width="75" height="75"></span>
                    </div>
                    {{latestReading.temperature}} C <br>
                    <div>{{conversions.convertTemperatureCToF latestReading.temperature}} F 
                    </div>
                    <br>
                    Max: {{analytics.getMaxValue station.readings 'temperature'}} <br>
                    Min: {{analytics.getMinValue station.readings 'temperature'}}<br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Wind
                        <span class="icon is-pulled-right">
                            <i class="fa-solid fa-wind fa-3x"></i>
                        </span>
                    </div>
                    {{conversions.convertWindSpeedKMToBeaufort latestReading.windSpeed}} bft <br>
                     
                    {{conversions.convertDegreesToCompassDirection latestReading.windDirection}} <br>
                    Feels like<br>
                    {{conversions.convertToWindChill latestReading.temperature latestReading.windSpeed}}
                     <br>
                    Max: {{analytics.getMaxValue station.readings 'windSpeed'}} <br>
                    Min: {{analytics.getMinValue station.readings 'windSpeed'}}<br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-dark">
                <div class="card-content has-text-white">
                    <div class="title is-size-5 has-text-white">
                        Pressure
                        <span class="iconify is-pulled-right" data-icon="arcticons:fmiweather" 
                        width="75" height="75"></span>
                    </div>
                    {{latestReading.pressure}} hpa <br>
                    Max: {{analytics.getMaxValue station.readings 'pressure'}} <br>
                    Min: {{analytics.getMinValue station.readings 'pressure'}}<br>
                    
                </div>
            </div>
        </div>
    </div>
</div>