{{> menu}}

<section class="section">
  <div class="title">
    {{station.name}}
  </div>
  {{> list-latest-readings}}
  {{> auto-generate-reading}}
  {{> chart}}
  {{> list-readings}}
  <div class="box" id="map" style="height: 300px;"></div>
  {{> add-reading}}
</section>


<script>
  const map = L.map('map').setView([{{latitude}}, {{longitude}}], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
}).addTo(map);
L.marker([{{latitude}}, {{longitude}}]).addTo(map)
    .bindPopup("Station: {{name}}<br>Latitude: {{latitude}}<br>Longitude: {{longitude}}");
</script>